.hide {
  display: none;
}

:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Colors */
  --cl-body: 67, 68, 85;
  --cl-main: 77, 90, 229;
  --cl-white: 255 255 255;
  --cl-title: 46, 47, 66;
  --cl-accent: 64, 75, 191;
  --cl-cloud: 244, 244, 253;

  --indent-col: 24px;
  --items: 3;
  --indent-row: var(--indent-col);
}

/* #region  Base*/

body {
  font-family: var(--primary-font);
  color: rgb(var(--cl-body));
  line-height: 24px;
  background-color: rgb(var(--cl-white));
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgb(var(--cl-main));
  text-decoration: none;
  margin-right: 76px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

section {
  padding: 120px 0;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
}

.container {
  width: 288px;
  padding: 0 16px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--indent-col);
  row-gap: var(--indent-row);
}

.card-set-item {
  width: calc((100% - var(--indent-col) * (var(--items) - 1)) / var(--items));
}

.icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  margin-top: 8px;
}
.icon-item {
}

.icon-link {
  background-color: rgb(var(--cl-main));
  border-radius: 50%;
  color: rgb(var(--cl-cloud));
  --items: 4;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon {
  fill: rgb(var(--cl-cloud));
}

.icon-link:hover,
.icon-link:focus {
  background-color: rgb(var(--cl-accent));
}

/* #endregion */

/* #region Header */
.header .container {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  margin-bottom: 17px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-right: 332px;
  justify-content: space-between;
}

.span-header {
  color: rgb(var(--cl-title));
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: rgb(var(--cl-accent));
}

.header-menu-link:active {
  color: rgb(var(--cl-accent));
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-menu-item {
  list-style: none;
}
.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: rgb(var(--cl-title));
  text-decoration: none;
  padding: 24px 0;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link.active:after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: rgb(var(--cl-accent));
  display: block;
  position: absolute;
  border-radius: 2px;
  margin-top: 20px;
  bottom: -1px;
}

.header-menu-link.active {
  color: rgb(var(--cl-accent));
}

.adress-menu {
  font-style: normal;
}

.adress-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.adress-menu-item {
  list-style: none;
}
.adress-menu-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: rgb(var(--cl-body));
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-menu-link:hover,
.adress-menu-link:focus {
  color: rgb(var(--cl-accent));
}
/* #endregion */

/* #region Hero */
.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background-image/people-office\ 1@2x.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: rgb(var(--cl-white));
  margin-bottom: 48px;
  max-width: 496px;
}

.hero-button {
  background: rgb(var(--cl-main));
  color: rgb(var(--cl-white));
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: rgb(var(--cl-accent));
}
/* #endregion */

/* #region Features */
.features {
  padding: 96px 0;
}

.features-list {
  --items: 1;
  --indent-col: 24px;
}

.features-title {
  letter-spacing: 0.02em;
  color: rgb(var(--cl-title));
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

.features-item {
  list-style: none;
  margin-bottom: 76px;
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(var(--cl-body));
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: center;
}

.features-icon {
  display: none;
}

.features-icon-item {
  fill: #2e2f42;
}
/* #endregion */

/* #region Team */
.team {
  background-color: rgb(var(--cl-cloud));
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: rgb(var(--cl-title));
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  list-style: none;
  --items: 1;
  --indent-col: 24px;
}
.team-item {
  background-color: rgb(var(--cl-white));
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-photo {
}

.team-text {
  padding: 32px 0;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: rgb(var(--cl-title));
}
.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: rgb(var(--cl-body));
}
/* #endregion */

/* #region Portfolio */
.portfolio {
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: rgb(var(--cl-title));
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  --items: 3;
  --indent-col: 24px;
  row-gap: 48px;
}
.portfolio-item {
  list-style: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .overlay {
  transform: translateY(0);
  transition-duration: 250ms;
}

.portfolio-img {
}

.box {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(var(--cl-main));
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: rgb(var(--cl-cloud));
  width: 100%;
}

.portfolio-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: rgb(var(--cl-title));
  margin-bottom: 8px;
}
.portfolio-category {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: rgb(var(--cl-body));
}

/* #endregion */

/* #region Footer */
.footer {
  background-color: rgb(var(--cl-title));
  padding: 100px 0;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
  padding-top: 17.5px;
}

.span-footer {
  color: #f4f4fd;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer .icon-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .icon-link:hover,
.footer .icon-link:focus {
  background-color: #31d0aa;
}

.social-title {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: rgb(var(--cl-white));
  margin-bottom: 16px;
}

.footer .icon-list {
  --items: 4;
  --indent-col: 16px;
  padding: 0;
  gap: 16px;
}

.footer-social {
  margin-left: 120px;
}

.footer-info {
}

.message {
  margin-left: 80px;
}

.message-titel {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: rgb(var(--cl-white));
}

.message-form {
  display: flex;

  gap: 24px;
}

.message-label {
  display: flex;
}

.message-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: rgb(var(--cl-white));
}

.message-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: rgb(var(--cl-white));
  cursor: pointer;
  background-color: rgb(var(--cl-main));
  border: none;
  border-radius: 4px;
}

.message-btn-icon {
  margin-left: 16px;
  fill: currentColor;
}

.message-input::placeholder {
  color: rgb(var(--cl-white));
}

/* #endregion */

/* #region Modal */
.modal-overlay {
  position: fixed;
  background-color: rgba(46, 47, 66, 0.4);
  inset: 0;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 408px;
  width: 100%;
  min-height: 584px;
  width: 100%;
  background-color: rgba(252, 252, 252, 1);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(231, 233, 252, 1);
  color: rgb(var(--cl-title));
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: rgb(var(--cl-accent));
  color: rgb(var(--cl-white));
  border: none;
}

.modal-btn-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-titel {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
/* #endregion */

/* #region Form */
.modal-form {
  display: flex;
  flex-direction: column;
}
.div-form-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.modal-form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.div-form-input {
  position: relative;
  display: flex;
  align-items: center;
}
.modal-form-input {
  border-radius: 4px;
  min-height: 40px;
  width: 100%;
  padding: 0 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;
  background-color: transparent;
}

.modal-form-input:focus {
  border-color: rgb(var(--cl-main));
}

.modal-name-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  fill: rgb(var(--cl-title));
  pointer-events: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}

.modal-form-input:focus + .modal-name-icon {
  fill: rgb(var(--cl-main));
}

.div-form-label-comment {
  margin-bottom: 16px;
}

.modal-form-textarea {
  padding: 8px 16px;
  border-radius: 4px;
  height: 120px;
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  resize: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgb(var(--cl-title / 40%));
  background-color: transparent;
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-textarea::placeholder {
  color: rgb(var(--cl-title / 40%));
}

.modal-form-textarea:focus {
  border-color: rgb(var(--cl-main));
}

.div-agreement {
  margin-bottom: 24px;
}

.modal-form-agreement {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  user-select: none;
}

.modal-form-checkbox {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  cursor: pointer;
  color: rgb(var(--cl-cloud));
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
  margin-right: 5px;
}

input[type='checkbox']:checked + .modal-form-agreement .modal-form-checkbox {
  border: none;
  background-color: rgb(var(--cl-accent));
  fill: #f4f4fd;
}

.modal-form-checkbox-icon {
  fill: currentColor;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-link {
  color: rgb(var(--cl-main));
  justify-content: center;
}

.modal-submit-btn {
  display: block;
  justify-content: center;
  min-width: 169px;
  height: 56px;
  background: rgb(var(--cl-main));
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: rgb(var(--cl-white));
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  margin: 0 auto;
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: rgb(var(--cl-accent));
}

/* #endregion */
